<phpunit
    processIsolation="true"
    bootstrap="vendor/autoload.php"
    <testsuites>

    <testsuite name="unit">

 <--   </testsuite> 
        <testsuite name="integration">
            <directory>classes/Tests</directory>
        </testsuite> -->
    </testsuites>
    <logging>
        <log type="coverage-clover" target="clover.xml"/>
        <log type="junit" target="junit-logfile.xml"/>
    </logging>
</phpunit>
